.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

vendor/
node_modules/
bower_components/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

application/config/config.php
application/config/database.php
test.properties
prod.properties
dev.properties
phinx.yml
user_guide/*
uploads/*
build/*
docs/*